@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --main-bg-color: hsl(233, 37%, 17%);
  --main-color: #fafafa;
  --bg-color-2: #3e96b1;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.content {
  background-color: var(--main-bg-color);
  // border: 2px solid black;
  min-height: 100%;
  width: clamp(580px, 80%, 800px);
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  color: var(--main-color);
  font-family: Fredoka, sans-serif;
  justify-self: center;
  margin: 2rem 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr auto;
  #title {
    font-size: 4rem;
    grid-column: 1 / -1;
    justify-self: center;
  }
  button {
    grid-row: 2;
    width: 8rem;
    padding: 0.4rem;
    font-size: 1.2rem;
    background-color: transparent;
    font-family: Fredoka, sans-serif;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: 4px;
  }
  #new-folder {
    justify-self: self-end;
    margin-right: 0.75rem;
  }
  #new-task {
    justify-self: self-start;
    margin-left: 0.75rem;
  }
}

main {
  display: grid;
  grid-template-rows: auto auto 1fr;
}

#folder-links {
  margin: 0 1.5rem;
  display: flex;
  align-items: center;
  gap: 8px;
  .folder-element {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .divider {
    width: 0.5rem;
  }
}

//folders

.folders {
  background: var(--main-color);
  color: black;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 0.25rem;
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 1rem;
}

.folder {
  padding: 0.25rem;
  display: grid;
  > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
  }
}

.folder-content {
  padding: 10% 5% 2% 4%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto auto;
  gap: 4px;
  font-size: clamp(1rem, 2.25vw, 1.5rem);
  h4 {
    grid-column: 1 / -1;
    grid-row: 2;
    align-self: self-end;
  }
  img {
    width: clamp(1rem, 2.25vw, 1.5rem);
  }
  :nth-child(1) {
    grid-column: 2;
    grid-row: 1;
  }
  :nth-child(2) {
    grid-column: 3;
    grid-row: 1;
  }
}

//tasks

.tasks {
  background: var(--main-color);
  color: black;
  display: grid;
  grid-auto-flow: row;
  gap: 0.25rem;
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 1rem;
}

.task {
  padding: 0.25rem;
  &:not(:last-child) {
    border-bottom: 1px solid black;
  }
}

.task-content {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: auto 1fr auto auto;
  gap: 4px;
  font-size: clamp(1rem, 2.25vw, 1.5rem);
  .task-title {
    grid-column: 1 / 3;
  }
  .task-description {
    grid-column: 1 / -1;
    grid-row: 3;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .task-due-date {
    grid-row: 2;
    grid-column: 2;
  }
  svg {
    grid-row: 2;
    grid-column: 1;
  }
  img,
  svg {
    width: clamp(1rem, 2.25vw, 1.5rem);
  }
  :nth-child(5) {
    grid-column: 3;
    grid-row: 1;
  }
  :nth-child(6) {
    grid-column: 4;
    grid-row: 1;
  }
}

// hide markup templates

.template{
  display: none;
}

//modal dialogs

dialog {
  position: absolute;
  left: 0;
  right: 0;
  margin: 15rem auto;
  padding: 1rem;
  width: clamp(320px, 50%, 500px);
  border: 2px solid var(--main-color);
  border-radius: 8px;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

//forms

.form-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr auto;
  h3 {
    grid-column: 1 / -1;
    grid-row: 1;
    justify-self: center;
  }
  img {
    width: 1rem;
    grid-column: 2;
    grid-row: 1;
    align-self: center;
  }
}

form {
  grid-row: 2;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 1rem;
  div {
    display: grid;
    gap: 0.5rem;
  }
  .title-input {
    grid-column: 1 / -1;
  }
  button {
    padding: 0.25rem 0;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: var(--main-color);
    color: var(--main-bg-color);
    font-weight: 600;
  }
  input[type="radio"] {
    accent-color: var(--bg-color-2);
  }
}

.folder-form {
  .color-input {
    // grid-auto-flow: column;
    //display: flex;
    grid-column: 1 / -1;
    // justify-content: start;
    // align-items: center;
    grid-row: 2;
  }
  button {
    grid-row: 3;
  }
}

#folder-color-input {
  width: 100%;
}

fieldset {
  padding: 0.5rem;
  border: none;
  ul {
    margin-top: 0.7rem;
    list-style: none;
    display: grid;
    grid-auto-flow: column;
  }
}

.task-form {
  .description-input {
    grid-column: 1 / -1;
  }
  button {
    grid-row: 4;
  }
}

textarea {
  resize: none;
  font-size: 1rem;
}

// full task display

#display-task-dialog {
  width: 30rem;
}
.container {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  h3 {
    grid-row: 1;
    grid-column: 1;
  }
  .edit-task {
    grid-row: 1;
    grid-column: 3;
  }
  .closeDialog {
    grid-row: 1;
    grid-column: 4;
    margin-left: 0.5rem;
  }
  .dialog-task-priority {
    grid-row: 2;
    grid-column: 1;
    width: 1.5rem;
  }
  .dialog-task-due-date {
    grid-row: 2;
    grid-column: 1;
    margin-left: 2rem;
    align-self: center;
  }
  .dialog-task-description {
    grid-row: 3;
    grid-column: 1/-1;
    margin-top: 1rem;
  }
}