html,
body {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.content {
  background-color: aliceblue;
  // border: 2px solid black;
  min-height: 100%;
  width: clamp(580px, 80%, 800px);
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  justify-self: center;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  #title {
    font-size: 3rem;
  }
}

main {
  background-color: rgb(203, 231, 255);
  display: grid;
  grid-template-rows: auto 1fr;
}

.folders {
  background: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 0.25rem;
  margin: 1rem;
  border: 2px solid black;
}

.folder {
  padding: 0.25rem;
  display: grid;
  > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
  }
}

.folder-content {
  padding: 10% 5% 2% 4%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto auto;
  gap: 4px;
  font-size: clamp(1rem, 2.25vw, 1.5rem);
  h4 {
    grid-column: 1 / -1;
    grid-row: 2;
    align-self: self-end;
  }
  img {
    width: clamp(1rem, 2.25vw, 1.5rem);
  }
  :nth-child(1) {
    grid-column: 2;
    grid-row: 1;
  }
  :nth-child(2) {
    grid-column: 3;
    grid-row: 1;
  }
}

.tasks {
  background: white;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid black;
}

.task {
  padding: 0.25rem;
  &:not(:last-child) {
    border-bottom: 1px solid black;
  }
}

.task-content {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto auto;
  gap: 4px;
  font-size: clamp(1rem, 2.25vw, 1.5rem);
  p {
    grid-column: 1 / -1;
    grid-row: 2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  img {
    width: clamp(1rem, 2.25vw, 1.5rem);
  }
  :nth-child(3) {
    grid-column: 2;
    grid-row: 1;
  }
  :nth-child(4) {
    grid-column: 3;
    grid-row: 1;
  }
}
